<svg width="229" height="67" viewBox="0 0 229 67" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g style="">
        <path d="M2.79216 5.53375C4.33425 5.53375 5.58438 4.29498 5.58438 2.76688C5.58438 1.23878 4.33425 0 2.79216 0C1.25008 0 0 1.23878 0 2.76688C0 4.29498 1.25008 5.53375 2.79216 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M25.1125 5.53375C26.6546 5.53375 27.9048 4.29498 27.9048 2.76688C27.9048 1.23878 26.6546 0 25.1125 0C23.5704 0 22.3203 1.23878 22.3203 2.76688C22.3203 4.29498 23.5704 5.53375 25.1125 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M50.2076 2.81914C50.2076 3.36638 50.0438 3.90132 49.737 4.35634C49.4302 4.81135 48.9941 5.16599 48.4839 5.37541C47.9736 5.58483 47.4122 5.63963 46.8706 5.53287C46.3289 5.42611 45.8314 5.16257 45.4409 4.77562C45.0504 4.38866 44.7844 3.89565 44.6767 3.35893C44.569 2.82221 44.6242 2.26588 44.8356 1.7603C45.0469 1.25472 45.4048 0.822586 45.864 0.518556C46.3232 0.214527 46.863 0.0522461 47.4153 0.0522461C48.1558 0.0522461 48.8661 0.343765 49.3897 0.862657C49.9134 1.38155 50.2076 2.08531 50.2076 2.81914Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M69.7356 5.53375C71.2777 5.53375 72.5279 4.29498 72.5279 2.76688C72.5279 1.23878 71.2777 0 69.7356 0C68.1935 0 66.9434 1.23878 66.9434 2.76688C66.9434 4.29498 68.1935 5.53375 69.7356 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M92.0374 5.53375C93.5795 5.53375 94.8297 4.29498 94.8297 2.76688C94.8297 1.23878 93.5795 0 92.0374 0C90.4952 0 89.2451 1.23878 89.2451 2.76688C89.2451 4.29498 90.4952 5.53375 92.0374 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M114.359 5.53375C115.901 5.53375 117.151 4.29498 117.151 2.76688C117.151 1.23878 115.901 0 114.359 0C112.817 0 111.566 1.23878 111.566 2.76688C111.566 4.29498 112.817 5.53375 114.359 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M136.66 5.53375C138.203 5.53375 139.453 4.29498 139.453 2.76688C139.453 1.23878 138.203 0 136.66 0C135.118 0 133.868 1.23878 133.868 2.76688C133.868 4.29498 135.118 5.53375 136.66 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M161.755 2.8192C161.755 3.36718 161.591 3.90282 161.284 4.3582C160.976 4.81359 160.539 5.16821 160.028 5.37711C159.516 5.586 158.954 5.63976 158.412 5.53157C157.87 5.42338 157.372 5.15812 156.982 4.76941C156.593 4.3807 156.328 3.88606 156.222 3.34818C156.117 2.81031 156.174 2.25343 156.389 1.74816C156.603 1.24289 156.963 0.811989 157.425 0.510075C157.886 0.208161 158.428 0.0488333 158.981 0.0523015C159.347 0.0522942 159.709 0.123989 160.047 0.263252C160.385 0.402515 160.691 0.606595 160.949 0.863756C161.207 1.12092 161.411 1.42609 161.549 1.76168C161.688 2.09727 161.758 2.45667 161.755 2.8192Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M181.301 5.53375C182.843 5.53375 184.093 4.29498 184.093 2.76688C184.093 1.23878 182.843 0 181.301 0C179.759 0 178.509 1.23878 178.509 2.76688C178.509 4.29498 179.759 5.53375 181.301 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M203.604 5.53375C205.146 5.53375 206.396 4.29498 206.396 2.76688C206.396 1.23878 205.146 0 203.604 0C202.062 0 200.812 1.23878 200.812 2.76688C200.812 4.29498 202.062 5.53375 203.604 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M225.924 5.53375C227.466 5.53375 228.716 4.29498 228.716 2.76688C228.716 1.23878 227.466 0 225.924 0C224.382 0 223.132 1.23878 223.132 2.76688C223.132 4.29498 224.382 5.53375 225.924 5.53375Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M2.79216 36.1373C4.33425 36.1373 5.58438 34.8985 5.58438 33.3704C5.58438 31.8423 4.33425 30.6035 2.79216 30.6035C1.25008 30.6035 0 31.8423 0 33.3704C0 34.8985 1.25008 36.1373 2.79216 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M25.1125 36.1373C26.6546 36.1373 27.9048 34.8985 27.9048 33.3704C27.9048 31.8423 26.6546 30.6035 25.1125 30.6035C23.5704 30.6035 22.3203 31.8423 22.3203 33.3704C22.3203 34.8985 23.5704 36.1373 25.1125 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M50.2076 33.3528C50.2076 33.9001 50.0438 34.435 49.737 34.89C49.4302 35.3451 48.9941 35.6997 48.4839 35.9091C47.9736 36.1185 47.4122 36.1733 46.8706 36.0666C46.3289 35.9598 45.8314 35.6963 45.4409 35.3093C45.0504 34.9224 44.7844 34.4293 44.6767 33.8926C44.569 33.3559 44.6242 32.7996 44.8356 32.294C45.0469 31.7884 45.4048 31.3563 45.864 31.0522C46.3232 30.7482 46.863 30.5859 47.4153 30.5859C48.1558 30.5859 48.8661 30.8774 49.3897 31.3963C49.9134 31.9152 50.2076 32.619 50.2076 33.3528Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M69.7356 36.1373C71.2777 36.1373 72.5279 34.8985 72.5279 33.3704C72.5279 31.8423 71.2777 30.6035 69.7356 30.6035C68.1935 30.6035 66.9434 31.8423 66.9434 33.3704C66.9434 34.8985 68.1935 36.1373 69.7356 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M92.0384 36.1373C93.5805 36.1373 94.8307 34.8985 94.8307 33.3704C94.8307 31.8423 93.5805 30.6035 92.0384 30.6035C90.4962 30.6035 89.2461 31.8423 89.2461 33.3704C89.2461 34.8985 90.4962 36.1373 92.0384 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M114.359 36.1373C115.901 36.1373 117.151 34.8985 117.151 33.3704C117.151 31.8423 115.901 30.6035 114.359 30.6035C112.817 30.6035 111.566 31.8423 111.566 33.3704C111.566 34.8985 112.817 36.1373 114.359 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M136.66 36.1373C138.203 36.1373 139.453 34.8985 139.453 33.3704C139.453 31.8423 138.203 30.6035 136.66 30.6035C135.118 30.6035 133.868 31.8423 133.868 33.3704C133.868 34.8985 135.118 36.1373 136.66 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M161.756 33.3529C161.756 33.9009 161.592 34.4365 161.285 34.8919C160.977 35.3473 160.54 35.7019 160.029 35.9108C159.517 36.1197 158.955 36.1735 158.413 36.0653C157.871 35.9571 157.373 35.6918 156.983 35.3031C156.594 34.9144 156.329 34.4197 156.223 33.8819C156.118 33.344 156.175 32.7871 156.39 32.2819C156.604 31.7766 156.964 31.3457 157.426 31.0438C157.887 30.7418 158.429 30.5825 158.982 30.586C159.348 30.586 159.71 30.6577 160.048 30.7969C160.385 30.9362 160.692 31.1403 160.95 31.3974C161.208 31.6546 161.412 31.9598 161.55 32.2954C161.689 32.631 161.759 32.9904 161.756 33.3529Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M181.301 36.1373C182.843 36.1373 184.093 34.8985 184.093 33.3704C184.093 31.8423 182.843 30.6035 181.301 30.6035C179.759 30.6035 178.509 31.8423 178.509 33.3704C178.509 34.8985 179.759 36.1373 181.301 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M203.605 36.1373C205.147 36.1373 206.397 34.8985 206.397 33.3704C206.397 31.8423 205.147 30.6035 203.605 30.6035C202.063 30.6035 200.812 31.8423 200.812 33.3704C200.812 34.8985 202.063 36.1373 203.605 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M225.924 36.1373C227.466 36.1373 228.716 34.8985 228.716 33.3704C228.716 31.8423 227.466 30.6035 225.924 30.6035C224.382 30.6035 223.132 31.8423 223.132 33.3704C223.132 34.8985 224.382 36.1373 225.924 36.1373Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M2.79216 66.6704C4.33425 66.6704 5.58438 65.4317 5.58438 63.9036C5.58438 62.3755 4.33425 61.1367 2.79216 61.1367C1.25008 61.1367 0 62.3755 0 63.9036C0 65.4317 1.25008 66.6704 2.79216 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M25.1125 66.6704C26.6546 66.6704 27.9048 65.4317 27.9048 63.9036C27.9048 62.3755 26.6546 61.1367 25.1125 61.1367C23.5704 61.1367 22.3203 62.3755 22.3203 63.9036C22.3203 65.4317 23.5704 66.6704 25.1125 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M50.2076 63.9036C50.2076 64.4508 50.0438 64.9858 49.737 65.4408C49.4302 65.8958 48.9941 66.2504 48.4839 66.4598C47.9736 66.6693 47.4122 66.724 46.8706 66.6173C46.3289 66.5105 45.8314 66.247 45.4409 65.86C45.0504 65.4731 44.7844 64.9801 44.6767 64.4434C44.569 63.9067 44.6242 63.3503 44.8356 62.8447C45.0469 62.3392 45.4048 61.9071 45.864 61.603C46.3232 61.299 46.863 61.1367 47.4153 61.1367C48.1558 61.1367 48.8661 61.4282 49.3897 61.9471C49.9134 62.466 50.2076 63.1698 50.2076 63.9036Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M69.7356 66.6704C71.2777 66.6704 72.5279 65.4317 72.5279 63.9036C72.5279 62.3755 71.2777 61.1367 69.7356 61.1367C68.1935 61.1367 66.9434 62.3755 66.9434 63.9036C66.9434 65.4317 68.1935 66.6704 69.7356 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M92.0384 66.6704C93.5805 66.6704 94.8307 65.4317 94.8307 63.9036C94.8307 62.3755 93.5805 61.1367 92.0384 61.1367C90.4962 61.1367 89.2461 62.3755 89.2461 63.9036C89.2461 65.4317 90.4962 66.6704 92.0384 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M114.359 66.6704C115.901 66.6704 117.151 65.4317 117.151 63.9036C117.151 62.3755 115.901 61.1367 114.359 61.1367C112.817 61.1367 111.566 62.3755 111.566 63.9036C111.566 65.4317 112.817 66.6704 114.359 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M136.66 66.6704C138.203 66.6704 139.453 65.4317 139.453 63.9036C139.453 62.3755 138.203 61.1367 136.66 61.1367C135.118 61.1367 133.868 62.3755 133.868 63.9036C133.868 65.4317 135.118 66.6704 136.66 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M161.756 63.9036C161.756 64.4516 161.592 64.9872 161.285 65.4426C160.977 65.898 160.54 66.2526 160.029 66.4615C159.517 66.6704 158.955 66.7242 158.413 66.616C157.871 66.5078 157.373 66.2425 156.983 65.8538C156.594 65.4651 156.329 64.9705 156.223 64.4326C156.118 63.8947 156.175 63.3379 156.39 62.8326C156.604 62.3274 156.964 61.8965 157.426 61.5945C157.887 61.2926 158.429 61.1333 158.982 61.1368C159.348 61.1368 159.71 61.2085 160.048 61.3477C160.385 61.487 160.692 61.6911 160.95 61.9482C161.208 62.2054 161.412 62.5105 161.55 62.8461C161.689 63.1817 161.759 63.5411 161.756 63.9036Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M181.301 66.6704C182.843 66.6704 184.093 65.4317 184.093 63.9036C184.093 62.3755 182.843 61.1367 181.301 61.1367C179.759 61.1367 178.509 62.3755 178.509 63.9036C178.509 65.4317 179.759 66.6704 181.301 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M203.605 66.6704C205.147 66.6704 206.397 65.4317 206.397 63.9036C206.397 62.3755 205.147 61.1367 203.605 61.1367C202.063 61.1367 200.812 62.3755 200.812 63.9036C200.812 65.4317 202.063 66.6704 203.605 66.6704Z" fill="#D4DEE1"/>
    </g>
    <g style="">
        <path d="M225.924 66.6704C227.466 66.6704 228.716 65.4317 228.716 63.9036C228.716 62.3755 227.466 61.1367 225.924 61.1367C224.382 61.1367 223.132 62.3755 223.132 63.9036C223.132 65.4317 224.382 66.6704 225.924 66.6704Z" fill="#D4DEE1"/>
    </g>
</svg>