@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import '../breadcrumbs/breadcrumbs'
@import '../button/button'
@import './container'
@import '../header/header'
@import '../footer/footer'
@import '../slider/slider'
@import '../sections/sections'
@import '../form/form'
@import '../list-items-hover/list-items-hover'
@import './headroom'
@import '../svg/svg'

*,
*:before,
*:after
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: normal

.page
  margin: 0
  padding: 0
  color: $main-color
  background-color: #fff
  font-size: 16px
  font-family: $default-font
  font-weight: normal
  font-style: normal
  line-height: 1.25

  &_no-scroll
    overflow: hidden

.hr
  display: block
  width: 100%
  height: 1px
  background: $gray15

.show-more-link
  font-weight: bold
  font-size: 16px
  line-height: 16px
  padding-bottom: 1px
  border-bottom: 1px solid $main-color
  transition: $default-transition

  &:hover
    border-bottom-color: transparent

.clearfix
  +clearfix()

.ask-question-button
  width: 100%
  text-transform: uppercase

.page-section
  position: relative
  padding: 60px 0

.link-as-card
  position: absolute
  +stretch

.background-pattern
  position: absolute
  overflow: hidden
  z-index: -1

  svg
    position: relative
    width: 100%
    height: 100%

.page-content
  margin-top: 78px
  min-height: 90vh

.page__title
  color: $main-color
  font-size: 24px
  font-weight: 800
  line-height: 120%
  padding-top: 30px

/* Классы для сокрытия/показа контента для определенных разрешений */
.mobile
  &-hide
    display: none
  &-show
    display: inline

.tablet-only
  display: none

+mq(tablet)
  .tablet
    &-hide
      display: none
    &-show
      display: inline
    &-only
      display: block

  .ask-question-button
    text-transform: none

  .show-more-link
    display: inline-block
    margin-top: 10px

  .page-content
    margin-top: 85px
    padding-bottom: 60px
    min-height: 80vh

  .page__title
    font-size: 30px
    letter-spacing: 0.02em

.desktop-only
  display: none

+mq(desktop)
  .desktop
    &-hide
      display: none
    &-show
      display: inline
    &-only
      display: block
    &-show-block
      display: block

  .show-more-link
    margin-top: 35px

  .page-content
    margin-top: 179px
    min-height: 60vh

  .page__title
    font-size: 36px
    line-height: 140%
    padding-top: 0

  .page-section
    padding: 80px 0

  .tablet-only
    display: none

.animate
  transition: 0.3s
  &:not(.b-loaded)
    opacity: 0

button
  +button-preset

a
  +link-preset

+mq(wide-screen, max)
  .background-pattern
    display: none
