@import '../variables/variables'
@import '../mixins/mixins'
@import '../functions/functions'
@import "../article-form/article-form"
@import '../contacts-info/contacts-info'
@import '../contacts-departments/contacts-departments'
@import '../contacts-messengers-links/contacts-messengers-links'
@import '../contact-us-form/contact-us-form'

.page-content
  .svg-pattern
    display: none

.page__title
  padding-top: 40px
  margin-bottom: 40px

h2
  font-size: 18px
  line-height: 120%
  letter-spacing: 0.02em
  font-weight: bold

.contacts-map
  margin-top: 40px
  background: $gray20
  color: $gray50
  font-size: 18px
  line-height: 18px
  display: flex
  align-items: center
  justify-content: center
  height: 340px

.contacts-departments
  margin-top: 50px

.contacts-messengers-links
  margin-top: 60px

.contact-us-form
  margin-top: 60px

+mq(tablet, max)
  .page-content
    padding-bottom: 60px

+mq(tablet)
  .page-content
    padding-bottom: 80px

  .page__title
    font-size: 36px
    padding-top: 60px

  .contacts-departments
    margin-top: 60px

  .contacts-messengers-links
    margin-top: 50px

+mq(desktop)
  .contacts-messengers-links
    margin: 30px auto
    width: 936px

  .page__title
    padding-top: 0

  .contact-us-form
    margin: 80px auto 0

  .contacts-group_map
    width: 704px
    flex-shrink: 0

  .contacts-group_info
    flex: 1
    margin-right: 81px

  .contacts-top
    display: flex

  .contacts-map
    margin-top: 0

  .contacts-departments
    margin-top: 80px

+mq(wide-screen)
  .page-content
    position: relative

    .svg-pattern
      display: block
      position: absolute

    .contacts__pattern-circle
      width: 175px
      height: 175px
      left: 63px
      top: 100px

    .contacts__pattern-dots
      width: 228px
      height: 72px
      right: 63px
      top: 706px