.project-detail-prices
  margin-top: 40px
  font-size: 16px
  line-height: 16px
  font-weight: bold

.project-detail-prices-item
  margin-bottom: 27px
  padding: 26px 27px
  background: $white
  border: 1px solid #F1F1F1
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
  border-radius: 6px 14px

  &:last-child
    margin-bottom: 0

.project-detail-prices-item__label
  margin-bottom: 15px
  line-height: 20px

.project-detail-prices-item-value
  letter-spacing: 0.03em
  display: flex
  align-items: flex-end

.project-detail-prices-item-value__price
  white-space: nowrap
  margin-right: 22px
  position: relative
  z-index: 0

  &::after
    content: ''
    position: absolute
    display: block
    left: 0
    bottom: 0
    width: 105%
    height: 11px
    background: rgba(255, 184, 0, 0.25)
    z-index: -1

.project-detail-prices-item-value__units
  color: rgba(52, 39, 51, 0.6)
  font-weight: 600
  white-space: nowrap

+mq(mobile-plus)
  .project-detail-prices-item-value__price
    margin-right: 60px

+mq(tablet)
  .project-detail-prices
    display: flex
    flex-wrap: wrap

  .project-detail-prices-item
    padding: 20px
    width: calc(33.3333% - 11px)
    margin-right: 16px

    &:nth-child(3n)
      margin-right: 0

    &:last-child
      margin-bottom: 27px

  .project-detail-prices-item-value
    flex-direction: column
    align-items: flex-start

  .project-detail-prices-item-value__price
    margin-right: 0