<div class="article-main__video b-lazy"
     data-src="{{ image.src }}">
    <div class="article-main__video-name">
        <span>{{ title }}</span>
    </div>
    <svg class="article-main__video-icon" width="60" height="60" viewBox="0 0 60 60" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M39.896 28.8271L27.4372 19.7705C26.98 19.439 26.373 19.3891 25.8719 19.6467C25.3667 19.9022 25.0513 20.4214 25.0513 20.9824V39.0896C25.0513 39.6567 25.3667 40.1738 25.8719 40.4294C26.0855 40.5372 26.3191 40.5911 26.5547 40.5911C26.8622 40.5911 27.1737 40.4932 27.4372 40.2996L39.896 31.251C40.2894 30.9614 40.519 30.5142 40.519 30.039C40.521 29.5558 40.2854 29.1106 39.896 28.8271Z"
              fill="white" fill-opacity="0.8"/>
        <path d="M30.001 0.00317383C13.4292 0.00317383 0 13.4323 0 30.0042C0 46.57 13.4292 59.9952 30.001 59.9952C46.5688 59.9952 60 46.568 60 30.0042C60.002 13.4323 46.5688 0.00317383 30.001 0.00317383ZM30.001 54.9897C16.2005 54.9897 5.01148 43.8067 5.01148 30.0042C5.01148 16.2076 16.2005 5.01066 30.001 5.01066C43.7995 5.01066 54.9865 16.2056 54.9865 30.0042C54.9885 43.8067 43.7995 54.9897 30.001 54.9897Z"
              fill="white" fill-opacity="0.8"/>
    </svg>
    <a class="link-as-card"
       data-fancybox
       href="{{ link.href }}"
       title="{{ link.title }}"></a>
</div>