@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import '../section-title/section-title'
@import '../index-first-screen/index-first-screen'
@import '../index-projects/index-projects'
@import '../index-products/index-products'
@import '../announcements/announcements'
@import '../buy-ways/buy-ways'
@import '../subscribe-form/subscribe-form'
@import '../index-tour-form/index-tour-form'
@import '../article-form/article-form'
@import '../consultation-form/consultation-form'
@import '../index-about/index-about'
@import '../partners-list/partners-list'
@import '../index-text/index-text'
@import '../dropdown/dropdown'

.index__section-projects
  background: $white

.index__section-buy-ways
  position: relative
  background: $gray10
  padding-bottom: 0

.index__section-buy-ways-pattern
  position: absolute
  right: 0
  top: -87px
  width: 175px
  height: 175px
  overflow: hidden

  svg
    width: 100%
    height: 100%
    position: absolute
    right: -63px

.index__section-projects
  .container
    position: relative

.index__section-projects__pattern-circle,
.index__section-projects__pattern-dots
  position: absolute
  display: none

.index__section-tour-form
  .pattern-dots
    position: absolute
    display: none

.index__section-products
  .background-pattern
    display: none

.index__section-announcements
  .background-pattern
    display: none

.index__section-partners
  padding-bottom: 0
  margin-bottom: 60px
  z-index: 0
  .background-pattern
    width: 220px
    height: 220px
    right: 0
    top: -34px

    svg
      right: -34px

.index__section-about
  background: $gray10
  padding-bottom: 30px

.index-section__text
  padding-bottom: 60px

+mq(desktop, max)
  .index__section-tour-form
    max-width: none
    margin: 0
    padding: 0

+mq(tablet)
  .dropdown
    display: none

  .index__section-buy-ways
    padding-bottom: 33px

  .index__section-buy-ways-pattern
    display: none

  .index__section-partners
    .background-pattern
      top: -85px
      svg
        right: -84px

  .index__section-about
    padding-bottom: 54px

  .index-section__text
    padding-bottom: 0

+mq(desktop)
  .index__section-buy-ways
    padding: 74px 0 77px

  .index__section-buy-ways-pattern
    display: block
    z-index: 1
    top: auto
    bottom: -106px
    right: 42px
    width: 177px
    height: 177px

    svg
      right: 0

  .index__section-projects__pattern-dots
    display: block
    width: 228px
    height: 67px
    top: 140px
    left: -170px

    svg
      width: 100%
      height: 100%

  .index__section-partners
    .background-pattern
      display: none

  .index-section__text
    padding-bottom: 20px

+mq(wide-screen)
  .index__section-about
    padding-bottom: 70px

  .index__section-buy-ways-pattern
    right: 9px
    bottom: -85px
    width: 220px
    height: 220px

  .index__section-projects__pattern-dots
    left: 60px

  .index__section-projects__pattern-circle
    display: block
    left: 62px
    top: 723px

  .index__section-tour-form
    position: relative

    .pattern-dots
      display: block

      &_1
        top: 0
        right: 25px

      &_2
        top: 250px
        left: 260px
        height: 92px
        transform-origin: left top
        transform: rotate(90deg)

  .index__section-products
    .background-pattern
      overflow: hidden
      display: block
      width: 220px
      height: 220px

      &_circle
        left: 0
        bottom: 132px

        svg
          width: 100%
          height: 100%
          position: relative
          left: -56px

      &_rectangles
        right: 69px
        bottom: -30px
        z-index: 1
        opacity: 0.5

  .index__section-announcements
    .background-pattern
      display: block
      top: 146px
      right: 161px

  .index__section-text-pattern
    right: 0
    top: 0
    width: 220px
    height: 220px

    svg
      right: -34px