<div class="feedback-success-message">
    <div class="feedback-success-message__title">{{{title}}}</div>
    <div class="feedback-success-message__text">{{{text}}}</div>
    <div class="feedback-success-message__button-wrapper">
        <button class="button feedback-success-message__button button_linear-gray"
                data-fancybox-close>Закрыть</button>
    </div>
</div>
