<div class="blog-credit" {{#backgroundColor}}style="background: {{ . }}"{{/backgroundColor}}>
    {{{icon.inline}}}
    {{{backgroundIcon.inline}}}
    <div class="blog-credit__content">
        <div class="blog-credit__title">
            {{{ title }}}
        </div>
        <div class="blog-credit__text">
            {{{ text }}}
        </div>
    </div>
    <div class="blog-credit__button-wrapper">
    {{#link.href}}
        {{#link.text}}
        <a href="{{link.href}}"
           class="blog-credit__button button button_linear-white position-aware-button {{# link.additionalCssClass }} {{ . }}{{/ link.additionalCssClass }}"
           {{# link.targetBlank }} target="_blank"{{/ link.targetBlank }}>
            <span>{{link.text}}</span>
            <svg class="desktop-only" width="26" height="14" viewBox="0 0 26 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.10977 7.26512L6.73477 12.8901C6.88127 13.0366 7.11857 13.0366 7.26504 12.8901C7.41153 12.7436 7.41153 12.5063 7.26504 12.3599L2.28016 7.37499L24.5 7.37499C24.7073 7.37499 24.875 7.20726 24.875 6.99998C24.875 6.7927 24.7073 6.62497 24.5 6.62497L2.28016 6.62496L7.26504 1.64012C7.41153 1.49363 7.41153 1.25632 7.26504 1.10986C7.19181 1.03663 7.09583 0.999999 6.99988 0.999999C6.90394 0.999999 6.808 1.03663 6.73474 1.10986L1.10973 6.73486C0.963273 6.88132 0.963276 7.11863 1.10977 7.26512Z" fill="white" stroke="white"/>
            </svg>
            <span class="position-aware-button-span"></span>
        </a>
        {{/link.text}}
    {{/link.href}}
    </div>
</div>