.index-about-stats
  display: flex
  flex-wrap: wrap

.index-about-stats-item
  flex-shrink: 0
  width: calc(33.3333% - 13px)
  margin-right: 19px

  &:nth-child(3n)
    margin-right: 0

.index-about-stats-item__top
  display: flex
  margin-bottom: 5px
  color: #A6BED1

.index-about-stats-item__icon
  flex-shrink: 0
  margin-right: 20px

.index-about-stats-item-value-group
  display: flex
  align-items: flex-end

.index-about-stats-item__value, .index-about-stats-item__pre-value
  font-weight: bold
  font-size: 40px
  line-height: 48px
  letter-spacing: 0.05em

.index-about-stats-item__unit
  font-weight: 600
  font-size: 18px
  line-height: 34px
  letter-spacing: 0.02em

.index-about-stats-item__description
  font-size: 16px
  line-height: 22px
  letter-spacing: 0.03em

+mq(desktop)
  .index-about-stats
    display: block
    width: 278px

  .index-about-stats-item
    width: 100%
    margin-bottom: 33px

  .index-about-stats-item__description
    margin-left: 60px