<div class="popup-calendar">
    <div class="popup-calendar__title">{{placeholder}}</div>

    <div class="popup-calendar-datepicker"></div>

    <div class="popup-calendar-buttons">
        <button class="popup-calendar-buttons__item popup-calendar-buttons__item_close button button_filled-gray">Закрыть</button>
        <button class="popup-calendar-buttons__item popup-calendar-buttons__item_apply button button_filled-yellow">Сохранить</button>
    </div>
</div>