{{#isNotEmpty}}
    <div class="footer-menu">
        {{#values}}
            <div class="footer-menu-section">
                <div class="footer__title">{{{title}}}</div>
                <ul class="footer-menu-list">
                    {{#items.values}}
                        <li class="footer-menu-list-item">
                            <a class="footer-menu-list-item__link{{#active}} footer-menu-list-item__link_active{{/active}}"
                               href="{{href}}" title="{{title}}">{{{text}}}</a>
                        </li>
                    {{/items.values}}
                </ul>
            </div>
        {{/values}}
    </div>
{{/isNotEmpty}}
