@import '../tour-form/tour-form'

.index-tour-form
  padding: 60px 0
  position: relative
  z-index: 0
  overflow: hidden
  background: #C3D2DE

  .background-lines
    position: absolute
    top: 0
    right: 0
    z-index: -1

  .background-rectangles
    display: none

+mq(tablet)
  .index-tour-form
    .background-lines
      right: -60px

    .background-rectangles
      display: block
      position: absolute
      right: -22px
      top: 127px
      width: 99px
      height: 99px
      z-index: -1

+mq(desktop)
  .index-tour-form
    padding: 108px 24px 90px 79px
    border-radius: 10px
    .container
      max-width: none
      margin: 0
      padding: 0

    .background-lines
      right: 0

    .background-rectangles
      right: 93px
      top: 67px
      width: 143px
      height: 143px

    .form-group
      margin-right: 26px

    .form__control
      width: 279px

    .tour-form__group
      .form-group:first-child
        .form__control
          width: 210px

  .tour-form__submit
    margin-left: 33px