.documents
  margin-top: 50px
  margin-bottom: 60px

.documents__title
  color: $main-color
  font-weight: 800
  font-size: 24px
  line-height: 120%

.documents__dropdown
  margin-top: 30px

.documents__content
  height: 100%
  margin-top: 30px
  min-height: 72px

.documents__item
  display: block
  margin-top: 30px
  padding: 2px 0 2px 55px
  position: relative

  svg
    height: 36px
    position: absolute
    left: 0
    top: 5px
    opacity: 0.6
    width: 36px

    path
      fill: #72929F

  &:nth-of-type(1)
    margin-top: 0

.documents__item-title
  color: $main-color
  font-weight: 500
  font-size: 13px
  line-height: 20px

.documents__item-date
  color: $main-color
  font-weight: 500
  font-size: 12px
  line-height: 16px
  letter-spacing: 0.05em
  opacity: 0.5
  margin-top: 10px

.documents__list
  display: none

.documents__list_active
  animation: displayFlex .8s
  display: flex
  flex-direction: column

+mq(tablet)

  .documents
    margin-top: 60px

  .documents__title
    font-size: 36px
    line-height: 140%
    letter-spacing: 0.02em

  .documents__tabs
    display: flex
    margin-top: 30px

  .documents__tab
    display: block
    color: rgba(22, 22, 22, 0.4)
    cursor: pointer
    background: rgba(240, 244, 245, 0.2)
    border: 1.5px solid #D4DEE1
    box-sizing: border-box
    border-radius: 6px
    margin-right: 25px
    padding: 14px 22px
    font-weight: 600
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.03em
    transition: $default-transition

  .documents__tab_active
    background: $yellow8
    box-shadow: 0px 2px 10px rgba(255, 184, 0, 0.3)
    border: 1.5px solid $yellow8
    color: #FFFFFF
    cursor: default

  .documents__content
    margin-top: 40px

  .documents__list
    flex-wrap: wrap
    justify-content: space-between
    flex-direction: row

  .documents__item
    padding: 2px 5px 2px 67px
    width: 342px

    &:nth-of-type(-n+2)
      margin-top: 0

    svg
      height: 48px
      width: 48px

  .documents__item-title
    font-size: 14px

  .documents__item-date
    margin-top: 14px

+mq(desktop)

  .documents
    margin-top: 80px
    margin-bottom: 80px

  .documents__top
    align-items: center
    display: flex
    justify-content: space-between

  .documents__tabs
    margin-top: 0

  .documents__tab:hover
    background: $gray20

  .documents__tab_active:hover
    background: $yellow8

  .documents__content
    margin-top: 60px

  .documents__list
    justify-content: flex-start

  .documents__item
    margin-top: 48px
    margin-right: 70px

    &:hover

      .documents__item-title
        color: $main-color

      svg
        opacity: 1

      .documents__item-date
        color: rgba(52, 39, 51, 0.8)

    &:nth-of-type(-n+3)
      margin-top: 0

    &:nth-of-type(3n+3)
      margin-right: 0

    svg
      opacity: 0.8
      transition: $default-transition

  .documents__item-title
    color: rgba(52, 39, 51, 0.6)
    transition: $default-transition

  .documents__item-date
    color: rgba(52, 39, 51, 0.5)
    transition: $default-transition

@keyframes displayFlex

  0%
    opacity: 0

  25%
    opacity: 0.5

  50%
    opacity: 0.8

  75%
    opacity: 1

  100%
    display: flex
