<div class="header-menu">
    <button class="header-menu-button">
        <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 17.8091V20.6662H0V17.8091H28Z" fill="#342733"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.4 9.23779V12.0949H0V9.23779H22.4Z" fill="#342733"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28 0.666504V3.52365H0V0.666504H28Z" fill="#342733"/>
        </svg>
    </button>
    <div class="header-menu-content">
        <ul class="header-menu-list">
            <li class="header-menu-list-item">
                <a href="#" class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">Проекты</span>
                </a>
                <a href="#" class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">Акции</span>
                </a>
                <a href="#" class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">Способы покупки</span>
                </a>
                <a href="#" class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">Полезная информация</span>
                </a>
                <a href="#" class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">О компании</span>
                </a>
                <a href="#" class="header-menu-list-item__link">
                    <span class="header-menu-list-item__link-text">Контакты</span>
                </a>
            </li>
        </ul>
        <button class="header-search">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                    <path d="M14.6771 12.9094C15.6612 11.5654 16.2499 9.91462 16.2499 8.12498C16.2499 3.64502 12.6049 0 8.12494 0C3.64498 0 0 3.64502 0 8.12498C0 12.6049 3.64502 16.25 8.12498 16.25C9.91462 16.25 11.5656 15.6612 12.9096 14.677L18.2324 19.9999L20 18.2323C20 18.2323 14.6771 12.9094 14.6771 12.9094ZM8.12498 13.75C5.02318 13.75 2.50001 11.2268 2.50001 8.12498C2.50001 5.02318 5.02318 2.50001 8.12498 2.50001C11.2268 2.50001 13.75 5.02318 13.75 8.12498C13.75 11.2268 11.2267 13.75 8.12498 13.75Z" fill="black"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="20" height="20" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>
</div>