<div class="infrastructure-map page-screen"
     id="map">
    <div class="container infrastructure-map__container">
        <div class="infrastructure-map__title-wrapper">
            <h2 class="infrastructure-map__title">{{{title}}}</h2>
            <div class="infrastructure-map__categories">
                {{#categories.values}}
                    <a class="infrastructure-map__category infrastructure-map__category_active"
                       style="background-color: {{color}}"
                       href="#"
                       data-category="{{code}}">
                        <span class="infrastructure-map__category-icon"
                              style="background-color: {{color}}">{{{icon.inline}}}</span>
                        <span class="infrastructure-map__category-name">{{{name}}}</span>
                    </a>
                {{/categories.values}}
            </div>
            <div class="infrastructure-map__dropdown">
                <button type="button" class="dropdown-current infrastructure-map__dropdown-current">
                    <svg class="infrastructure-map__dropdown-current-icon"
                         width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M34 17C34 19.2325 33.5603 21.4431 32.706 23.5056C31.8516 25.5682 30.5994 27.4422 29.0208 29.0208C27.4422 30.5994 25.5682 31.8516 23.5056 32.706C21.4431 33.5603 19.2325 34 17 34C14.7675 34 12.5569 33.5603 10.4944 32.706C8.43185 31.8516 6.55778 30.5994 4.97918 29.0208C3.40059 27.4422 2.14838 25.5682 1.29405 23.5056C0.439718 21.4431 -1.95169e-07 19.2325 0 17L17 17H34Z"
                              fill="#FF6A6A"/>
                        <path d="M1.48619e-06 17C1.68136e-06 14.7675 0.43972 12.5569 1.29405 10.4944C2.14838 8.43184 3.40059 6.55778 4.97919 4.97918C6.55778 3.40059 8.43185 2.14838 10.4944 1.29405C12.5569 0.439716 14.7675 -1.77894e-06 17 -1.48619e-06L17 17L1.48619e-06 17Z"
                              fill="#A9C618"/>
                        <path d="M17 34C14.7675 34 12.5569 33.5603 10.4944 32.706C8.43185 31.8516 6.55778 30.5994 4.97918 29.0208C3.40059 27.4422 2.14838 25.5682 1.29405 23.5056C0.439717 21.4431 -9.38262e-07 19.2325 -7.43094e-07 17L17 17L17 34Z"
                              fill="#5B71FB"/>
                        <path d="M17 2.02723e-07C19.2325 2.29345e-07 21.4431 0.439718 23.5056 1.29405C25.5682 2.14838 27.4422 3.40059 29.0208 4.97919C30.5994 6.55778 31.8516 8.43185 32.706 10.4944C33.5603 12.5569 34 14.7675 34 17L17 17L17 2.02723e-07Z"
                              fill="#FFB800"/>
                        <path d="M16.9077 12.95C15.879 12.95 15.0421 13.7869 15.0421 14.8156C15.0421 15.8443 15.879 16.6812 16.9077 16.6812C17.9364 16.6812 18.7733 15.8443 18.7733 14.8156C18.7733 13.7869 17.9365 12.95 16.9077 12.95Z"
                              fill="white"/>
                        <path d="M16.9077 8C13.0988 8 10 11.0988 10 14.9077C10 16.5217 10.5564 18.008 11.4874 19.1852L16.9077 26L22.328 19.1852C23.2591 18.008 23.8155 16.5217 23.8155 14.9077C23.8155 11.0988 20.7167 8 16.9077 8ZM16.9077 17.9249C15.1932 17.9249 13.7984 16.5301 13.7984 14.8156C13.7984 13.1011 15.1932 11.7062 16.9077 11.7062C18.6222 11.7062 20.0171 13.1011 20.0171 14.8156C20.0171 16.5301 18.6223 17.9249 16.9077 17.9249Z"
                              fill="white"/>
                    </svg>
                    <span class="dropdown-current__text infrastructure-map__dropdown-current-text">Типы объектов</span>
                    <svg class="infrastructure-map__dropdown-current-arrow"
                         width="16"
                         height="11"
                         viewBox="0 0 16 11"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.02334 7.66146L1.9607 1.59882C1.58432 1.22244 0.975255 1.22244 0.598878 1.59882C0.222501 1.97519 0.222501 2.58426 0.598878 2.96064L7.34244 9.7042C7.5301 9.89186 7.77714 9.98635 8.02337 9.98635C8.2696 9.98635 8.51664 9.89186 8.70429 9.7042L15.4479 2.96064L15.4479 2.96062C15.8242 2.58424 15.8242 1.97519 15.4478 1.59882C15.0715 1.22244 14.4624 1.22244 14.086 1.59882L8.02334 7.66146Z"
                              fill="#342733" stroke="#342733" stroke-width="0.7"/>
                    </svg>
                </button>
                <div class="dropdown-list infrastructure-map__dropdown-list">
                    <ul class="dropdown-scroll infrastructure-map__dropdown-scroll">
                        {{#categories.values}}
                            <li class="dropdown-item infrastructure-map__dropdown-item">
                                <a class="dropdown-list-item infrastructure-map__dropdown-item-link infrastructure-map__dropdown-item-link_active"
                                   title="{{name}}"
                                   href="{{href}}"
                                   data-category="{{code}}">
                                    <span class="infrastructure-map__category-icon infrastructure-map__category-icon_in_dropdown"
                                          style="background-color: {{color}}">{{{icon.inline}}}</span>
                                    <span class="infrastructure-map__dropdown-item-name">{{{name}}}</span>
                                    <svg class="infrastructure-map__dropdown-item-check"
                                         width="11"
                                         height="8"
                                         viewBox="0 0 11 8"
                                         fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.887278 4.39762L0.887286 4.39763L3.57995 7.09012C3.57995 7.09013 3.57995 7.09013 3.57996 7.09013C3.73772 7.2479 3.94553 7.32736 4.15251 7.32736C4.3595 7.32736 4.56731 7.24789 4.72508 7.09012L9.78275 2.03245L9.78277 2.03243C10.0992 1.71598 10.0992 1.20379 9.78273 0.88734C9.46628 0.570887 8.95408 0.570887 8.63762 0.88734L4.15248 5.37246L2.03239 3.25251C2.03238 3.25251 2.03238 3.25251 2.03238 3.2525C1.71592 2.93606 1.20373 2.93606 0.887278 3.25251C0.570825 3.56897 0.570825 4.08117 0.887278 4.39762Z"
                                              fill="#342733" stroke="#342733" stroke-width="0.7"/>
                                    </svg>
                                </a>
                            </li>
                        {{/categories.values}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="infrastructure-map__map"
         id="infrastructure-map"></div>
</div>
<script data-skip-moving="true">
    window.infrastructureData = {{{toJson}}}
</script>
{{=<% %>=}}
<script type="text/html"
        data-template-id="balloon_item"
        data-skip-moving="true">
    <div class="infrastructure-map-item"
         style="background-image: url({{image}})"
         title="{{{name}}}">
    </div>
</script>
<script type="text/html"
        data-template-id="balloon_content"
        data-skip-moving="true">
    <div class="infrastructure-map-balloon-content">
        <div class="infrastructure-map-balloon-content__title">{{{content.header}}}</div>
        <div class="infrastructure-map-balloon-content__text">{{{content.body}}}</div>
    </div>
</script>
<%={{ }}=%>

{{#categories.values}}
    <script type="text/html"
            data-template-id="balloon_{{code}}"
            data-skip-moving="true">
        <div class="infrastructure-map__balloon"
             style="background-color: {{color}}">
            {{{icon.inline}}}
        </div>
    </script>
{{/categories.values}}
