@import "../variables/variables"
@import "../mixins/mixins"
@import "../dropdown/dropdown"

.infrastructure-map__map
  height: 65vh

h2.infrastructure-map__title
  margin: 0

.infrastructure-map__category_active
  color: $white

.infrastructure-map__category-icon
  border-radius: 60px
  height: 34px
  left: 3px
  position: absolute
  transition: $default-transition
  top: 3px
  width: 34px

  svg
    +absoluteCenter
    transform: translate(-50%, -50%)

.infrastructure-map__category-name
  font-size: 14px
  font-weight: 500


.infrastructure-map-item
  background: no-repeat center
  background-size: cover
  border: 2px solid $yellow8
  border-radius: 25px
  height: 50px
  position: relative
  transform: translate(-50%, -50%)
  width: 50px

.infrastructure-map-item__name
  bottom: 0
  background: $yellow8
  border-radius: 10px
  color: $white
  font-size: 15px
  left: 50%
  position: absolute
  padding: 5px
  transform: translate(-50%, 80%)
  white-space: nowrap

.infrastructure-map__balloon
  border-radius: 35px
  height: 35px
  transform: translate(-50%, -50%)
  width: 35px

  svg
    +absoluteCenter
    transform: translate(-50%, -50%)

+mq(tablet, max)
  .infrastructure-map
    margin-top: 25px

  .infrastructure-map__container
    position: relative
    z-index: 2

  .infrastructure-map__categories
    display: none

  .infrastructure-map__dropdown
    transform: translateY(50%)

  .infrastructure-map__dropdown-current
    height: 60px
    padding-bottom: 14px
    justify-content: left

  .infrastructure-map__dropdown-current-text
    margin-left: 15px

  .infrastructure-map__dropdown-current-arrow
    margin-left: auto

  .infrastructure-map__dropdown-item-link
    align-items: center
    display: flex
    height: 60px
    padding: 12px 43px 12px 23px
    transition-duration: $default-transition

  .infrastructure-map__category-icon_in_dropdown
    left: auto
    position: relative
    top: auto

  .infrastructure-map__dropdown-item-name
    margin-left: 15px

  .infrastructure-map__dropdown-item-check
    margin-left: auto
    transition-duration: $default-transition
    opacity: 0

  .infrastructure-map__dropdown-item-link_active
    background: rgba(212, 222, 225, 0.5)

    .infrastructure-map__dropdown-item-check
      opacity: 1

  .infrastructure-map__map
    position: relative
    z-index: 1

+mq(tablet)
  .infrastructure-map
    margin-top: 60px

  .infrastructure-map__map
    margin-top: 4px

  .infrastructure-map__categories
    display: flex
    flex-flow: wrap row

  .infrastructure-map__category
    display: block
    border-radius: 60px
    line-height: 16px
    margin: 0 30px 26px 0
    padding: 12px 16px 12px 52px
    position: relative
    transition: $default-transition

  .infrastructure-map__category:not(.infrastructure-map__category_active)
    background: rgba(231, 231, 231, 0.5) !important

    &:hover
      background: rgba(212, 222, 225, 0.6) !important

  .infrastructure-map__dropdown
    display: none

  +mq(desktop, max)
    .infrastructure-map__categories
      margin-top: 30px

+mq(desktop)
  .infrastructure-map
    margin-top: 80px

  .infrastructure-map__map
    margin-top: 14px

  .infrastructure-map__categories
    margin-top: 40px
