.article-form

.article-form__title
  font-weight: 900
  font-size: 28px
  line-height: 30px
  letter-spacing: 0.03em
  color: #FFFFFF

.article-form__subtitle
  font-weight: 500
  font-size: 16px
  line-height: 22px
  letter-spacing: 0.03em
  color: #FFFFFF
  margin-top: 11px

.article-form-inputs
  margin-top: 30px

.article-form__submit-wrapper
  margin-top: 30px

.article-form__submit
  color: $gray50
  background: #FFFFFF
  border-radius: 6px
  font-weight: 600
  font-size: 16px
  width: 100%

.consultation-form_gray

  .article-form__submit
    overflow: hidden
    position: relative
    color: #FFFFFF
    background: linear-gradient(166.4deg, #FFB800 50%, #FFCD12 100%)
    z-index: 0

    .article-form__submit-text
      z-index: 1

    &::after
      z-index: -1
      content: ''
      opacity: 0
      transition: $default-transition
      background: $yellow
      +absoluteFluid

    &:active
      &::after
        opacity: 1

.article-form-agreement
  font-weight: 300
  font-size: 12px
  line-height: 14px
  color: #FFFFFF
  margin-top: 10px
  text-align: center

  a
    border-bottom: 1px solid #FFFFFF
    transition: $default-transition

    &:hover
      border-bottom: 1px solid transparent


+mq(tablet)

  .article-form-inputs
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .article-form__group
    display: flex

    .form-group
      margin-left: 16px
      margin-top: 0
      width: 224px

      &:nth-of-type(1)
        margin-left: 0

  .article-form__submit-wrapper
    margin: 0
    width: 224px

  .article-form__submit
    padding: 10px
    height: 60px

  .article-form-agreement
    font-size: 13px
    margin-top: 18px
    text-align: left
    width: 100%

+mq(desktop)

  .article-form
    padding: 0 55px

  .article-form__container
    display: flex
    justify-content: space-between

  .article-form__text
    flex-shrink: 0
    width: 350px

  .article-form-inputs
    margin-top: 0
    margin-left: 28px

  .article-form__group

    .form-group
      width: 210px

  .article-form__submit-wrapper
    width: 250px

  .article-form__submit
    border: 1px solid #F2F2F2

    &:hover
      background: #FFFFFF

    &:active
      background: #FFFFFF

  .consultation-form_gray

    .article-form__submit
      border: none

      &::before
        z-index: -1
        content: ''
        opacity: 0
        transition: $default-transition
        background: linear-gradient(166.4deg, #FFC80E 50%, #FFCD12 100%)
        +absoluteFluid

      &:hover
        background: linear-gradient(166.4deg, #FFB800 50%, #FFCD12 100%)
        &::before
          opacity: 1

  .article-form-agreement
    margin-top: 11px





