+mq(tablet)

  .projects-list-tabs-wrapper
    display: inline-block

  .projects-list__rubric
    border-radius: 6px 6px 3px 3px
    display: inline-flex
    justify-content: flex-start
    flex-wrap: wrap
    margin: 0
    padding: 0
    list-style-type: none
    width: auto

  .projects-list__rubric-item
    border: 1.5px solid $gray5
    border-right: none
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    background: #FFFFFF
    transition: $default-transition

    &:nth-last-of-type(1)
      border-right: 1.5px solid $gray5

  .projects-list__rubric-item_active
    border-bottom-color: #FFBF06

    .projects-list__rubric-item-link
      opacity: 1

  .projects-list__rubric-item-link
    color: rgba(22, 22, 22, 0.8)
    opacity: 0.6
    display: block
    font-weight: 600
    font-size: 16px
    line-height: 16px
    letter-spacing: 0.03em
    padding: 22px 20px
    transition: $default-transition

+mq(desktop)
  .projects-list-tabs-wrapper
    border-bottom: 1.5px solid $gray5
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    overflow: hidden
    position: relative

    .list-items-hover-marker
      bottom: 1px

  .projects-list__rubric-item
    border-bottom: transparent solid 2px
    box-shadow: none
    transition: $default-transition

  .projects-list__rubric-item_active

    .projects-list__rubric-item-link
      cursor: default

  .projects-list__rubric-item-link:hover
    opacity: 1