@import '../index-projects-card/index-projects-card'

.index-projects__title
  font-weight: 800
  font-size: 24px
  line-height: 29px
  margin-bottom: 24px

.index-projects
  .index-projects-card
    margin-bottom: 30px

.index-projects-filter-combobox
  display: none

.selectric-is-native
  .index-projects-filter-combobox
    display: block

.index-projects-content
  margin-top: 30px

+mq(tablet)
  .index-projects
    .selectric-sections-filter-combobox
      display: inline-block
      width: auto

    .selectric-sections-filter-combobox
      display: none

    .sections-filter-tabs
      display: inline-flex

  .index-projects__title
    font-size: 36px
    line-height: 43px
    margin-bottom: 50px
    letter-spacing: 0.02em

  .index__section-projects
    padding-bottom: 106px

  .index-projects-content
    margin-top: 50px

+mq(desktop)
  .index-projects__cards-group
    display: flex
    flex-wrap: wrap

  .index-projects__img-dots
    display: block

  .index-projects__title
    margin-bottom: 40px

+mq(wide-screen)
  .index-projects-content
    margin-top: 40px