<figure>
    <img class="b-lazy"
         src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
         data-src="{{src}}"
         data-src-md="{{mdSrc}}"
         data-src-lg="{{lgSrc}}"
         alt="Фото">
    <a class="link-as-card"
       data-fancybox="gallery-article"
       href="{{src}}"
       title="Фото"></a>
</figure>