.search-no-results
  margin-top: 20px

.search-no-results__title
  color: $main-color
  font-size: 20px
  line-height: 130%

.search-no-results__desc
  font-weight: 500
  font-size: 14px
  line-height: 160%
  color: rgba(52, 39, 51, 0.6)
  opacity: 0.9
  margin-top: 21px

  a, span
    color: $main-color
    opacity: 1

+mq(tablet)
  .search-no-results
    margin-top: 32px

  .search-no-results__title
    font-size: 24px

  .search-no-results__desc
    font-size: 18px
    margin-top: 40px

+mq(desktop)
  .search-no-results
    margin-top: 48px

+mq(wide-screen)
  .search-no-results
    min-height: 285px