.characteristics-table
  line-height: 16px
  font-weight: 600
  letter-spacing: 0.03em
  margin-bottom: 40px

  .collapsed-block-trigger
    border: none

  .collapsed-block-trigger__text
    border-bottom: 1px dashed $main-color

  .collapsed-block-trigger__icon
    transform-origin: center center

  .collapsed-block-container_open + .collapsed-block-trigger .collapsed-block-trigger__icon
    transform: rotate(180deg)

  table
    width: 100%
    tbody
      width: 100%
      display: flex
      flex-wrap: wrap
      tr
        width: calc(50% - 15px)
        margin-bottom: 30px

        &:nth-child(odd)
          margin-right: 30px

      td
        display: block
        font-size: 14px
        margin-bottom: 0

        &:nth-child(even)
          font-size: 15px
          font-weight: 500
          color: rgba(52, 39, 51, 0.8)
          margin-bottom: 0

  &_main
    table
      tbody
        display: block
        tr
          display: flex
          width: 100%
          margin-bottom: 20px
          &:nth-child(odd)
            margin-right: 0

        td
          margin-bottom: 0
          width: 122px

          &:nth-child(odd)
            font-weight: 500
            color: rgba(52, 39, 51, 0.7)

          &:nth-child(even)
            color: $main-color
            font-weight: 600
            margin-left: 35px
            flex: 1

.characteristics-table__header
  font-size: 16px
  margin-bottom: 30px

.characteristics-table__btn-move-to-all
  font-weight: 500
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.03em
  color: rgba(52, 39, 51, 0.9)
  padding-bottom: 3px
  border-bottom: 1px dashed rgba(52, 39, 51, 0.9)

+mq(tablet)
  .characteristics-table:not(.characteristics-table_main)
    table
      tbody
        tr
          display: flex
          justify-content: space-between
          align-items: flex-start
          margin-bottom: 20px
          width: 260px

          &:nth-child(odd)
            margin-right: 120px
        td
          margin-bottom: 0
          &:nth-child(odd)
            margin-right: 30px

+mq(desktop)
  .collapsed-block-trigger__icon
    display: none

  .characteristics-table:not(.characteristics-table_main)
    width: auto
    table
      tbody
        tr
          width: auto
          justify-content: flex-start
        td
          width: 200px
          &:nth-child(odd)
            margin-right: 120px