@import "../index-projects-card/index-projects-card"
@import "../projects-list-rubric/projects-list-rubric"

.projects-list
  margin-top: 20px
  margin-bottom: 60px

.projects-list__content
  margin-top: 40px

.projects-list__item
  height: 284px
  margin-top: 30px

  .index-projects-card
    height: 100%
    min-height: 0
    width: 100%

  .index-projects-card-container
    color: #FFFFFF
    height: 100%
    padding: 40px 37px 24px 26px

  .index-projects-card__img
    height: 100%
    width: 100%
    padding-bottom: 0

  .index-projects-card__name
    margin-bottom: 11px

  .index-projects-card-content
    height: 100%
    position: relative

  .index-projects-card-release-date
    bottom: 0
    margin: 0
    position: absolute

+mq(tablet)

  .projects-list
    margin-top: 33px

  .projects-list__content
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .projects-list__item
    height: 316px
    margin-top: 16px
    width: 344px

    &:nth-of-type(-n + 2)
      margin-top: 0

    .index-projects-card-container
      padding: 40px 32px 30px

    .index-projects-card__img
      height: 100%
      width: 100%
      padding-bottom: 0

    .index-projects-card__name
      font-size: 16px
      margin-bottom: 14px

    .index-projects-card__location
      font-size: 16px

    .index-projects-card-release-date
      height: auto
      top: auto

    .index-projects-card__props
      display: none

    .index-projects-card__link-more
      margin-top: 132px
      padding: 16px 34px

    .index-projects-card__link-more-icon
      display: block
      height: 11px
      opacity: 1
      margin-left: 15px
      width: 23px

+mq(desktop)

  .projects-list
    margin-top: 40px
    margin-bottom: 80px

  .projects-list__content
    justify-content: flex-start
    margin-top: 60px

  .projects-list__item
    height: 360px
    margin-top: 24px
    margin-right: 15px
    width: 392px

    &:nth-of-type(-n + 3)
      margin-top: 0

    &:nth-of-type(3n)
      margin-right: 0

    .index-projects-card-container
      padding: 50px 32px 26px

    .index-projects-card__name
      font-size: 18px

    .index-projects-card__location
      margin-bottom: 25px

    .index-projects-card__link-more
      margin-bottom: 40px

    .index-projects-card__props
      display: block

      .project-card-prop
        margin-bottom: 15px

      .project-card-prop__label
        font-size: 14px
        flex-shrink: 0
        width: 70px

      .project-card-prop__value
        font-size: 14px

    .project-card-info-release-date__label
      margin-left: -47%

    .project-card-info-release-date__value
      margin-left: 4px

    .index-projects-card:hover .project-card-info-release-date__value
      margin-left: 10px
