.social-list
  display: flex
  justify-content: center

.social-list-item
  display: block
  line-height: 0
  opacity: 0.8
  width: 28px
  height: 28px
  margin: 0 15px

  svg
    width: 100%
    height: 100%

  path
    transition: $default-transition
    fill: #7D8C93

  &:hover
    path
      fill: #FFC108

+mq(tablet, max)
  .social-list-item
    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

+mq(tablet)
  .social-list
    flex-direction: column

  .social-list-item
    margin-bottom: 34px

    &:last-child
      margin-bottom: 0

+mq(desktop)
  .social-list
    flex-direction: row
    justify-content: flex-start

  .social-list-item
    width: 26px
    height: 26px
    margin: 0 26px 0 0

    &:last-child
      margin-right: 0