<form class="modal-form form feedback-form"
      id="{{ajax_component_id}}"
      enctype="multipart/form-data"
      action="{{action}}"
      {{#name}}name="{{.}}"{{/name}}
      method="post">
    <div class="modal-form__title">{{{title}}}</div>
    <div class="modal-form__subtitle">{{{sub_title}}}</div>
    <div class="modal-form__group">
        {{#html_fields}}
            {{{html}}}
        {{/html_fields}}
        <button class="modal-form__submit form__submit button feedback-form__submit" type="submit">
            {{{submit_text}}}
        </button>
    </div>
    {{# user_consent }}
        <div class="modal-form__user-consent feedback-form__user-consent"><!--noindex-->{{{ . }}}<!--/noindex--></div>
    {{/ user_consent }}
</form>
