.fullscreen-submenu
  border-bottom: 1px solid $gray20
  padding-bottom: 2px

  &_opened
    .fullscreen-submenu-list
      display: block

    .fullscreen-submenu__title-icon
      transform: rotate(180deg)

.fullscreen-submenu__title
  padding: 30px 0 21px
  display: flex
  justify-content: space-between
  align-items: center
  font-weight: 600
  font-size: 16px
  line-height: 21px
  letter-spacing: 0.05em
  text-transform: uppercase
  color: #636F75

.fullscreen-submenu-list
  font-weight: 500
  font-size: 16px
  line-height: 22px
  margin: 0
  padding: 0 0 15px
  list-style-type: none
  color: rgba(99, 111, 117, 0.95)

.fullscreen-submenu-list__item
  margin-bottom: 14px
  &:last-child
    margin-bottom: 0
  a
    border-bottom: 1px solid transparent
    opacity: 0.8
  &_active
    a
      border-color: rgba(99, 111, 117, 0.95)

.fullscreen-submenu__title-icon
  transition: $default-transition
  transform-origin: center center

.fullscreen-submenu-wrapper
  margin-bottom: 37px

+mq(tablet)
  .fullscreen-submenu__title-icon
    display: none

  .fullscreen-submenu-wrapper
    display: flex
    margin-bottom: 62px

  .fullscreen-submenu
    border: none
    width: calc(33.3333% - 17px)
    margin-right: 23px
    &:nth-child(3n)
      margin-right: 0
      
    .button_filled-gray
      color: $gray30

  .fullscreen-submenu-list__item
    margin-bottom: 26px

  .fullscreen-submenu__title
    font-weight: 500
    font-size: 20px
    line-height: 24px
    padding: 0 0 40px
    letter-spacing: 0.05em
    color: #666B6D

  .fullscreen-submenu-list
    width: 90%
    font-size: 18px

+mq(desktop)
  .fullscreen-submenu-wrapper
    width: 90%
    margin-bottom: 84px

  .fullscreen-submenu
    border: none
    width: calc(33.3333% - 47px)
    margin-right: 70px

    &:last-child
      margin-right: 0

  .fullscreen-submenu-list
    width: 100%

  .fullscreen-submenu-list__item
    a
      position: relative
      &::after
        content: ''
        display: block
        position: absolute
        left: 0
        bottom: -1px
        width: 100%
        height: 0
        border-bottom: 1px solid rgba(99, 111, 117, 0.95)
        transition: $default-transition
        transform-origin: 0 0
        transform: scaleX(0)

    &:not(.fullscreen-submenu-list__item_active)
      a
        &:hover
          &::after
            transform: scaleX(1)
