.tour-form
  color: $white

  .tour-form-agreement
    a
      color: inherit
      border: none

.tour-form__title
  font-weight: bold
  font-size: 24px
  line-height: 120%
  margin-bottom: 13px

.tour-form__subtitle
  font-weight: 500
  font-size: 16px
  line-height: 22px

.tour-form__group
  margin-top: 45px

.tour-form__submit-wrapper
  margin-top: 40px

.tour-form-agreement
  margin-top: 20px

.tour-form__submit
  width: 100%
  letter-spacing: 0.02em
  line-height: 16px

.tour-form-agreement
  font-weight: 500
  font-size: 12px
  line-height: 16px
  text-align: center

  a
    text-decoration: underline

.tour-form__futures
  display: none

+mq(tablet)
  .tour-form
    .form-group
      margin: 0 16px 0 0

      &:last-child
        margin-right: 0

  .tour-form__title
    font-size: 36px
    line-height: 100%
    margin-bottom: 28px

  .tour-form__subtitle
    font-size: 18px
    line-height: 25px

  .tour-form__group
    margin-top: 57px
    display: flex

  .tour-form__submit-wrapper
    display: flex
    justify-content: space-between
    align-items: center

  .tour-form__submit
    flex-shrink: 0
    margin-left: 44px
    order: 1
    width: auto

  .tour-form-agreement
    margin: 0
    text-align: left
    font-size: 16px
    line-height: 19px

+mq(desktop)
  .tour-form__title
    font-size: 48px
    line-height: 120%

  .tour-form__subtitle
    line-height: 29px
    width: 532px

  .tour-form__futures
    margin-top: 44px
    display: flex
    align-items: center

  .tour-form-future
    display: flex
    border-radius: 10px
    border: 1px solid rgba(255, 255, 255, 0.5)
    padding: 20px 12px 15px 18px
    margin-right: 24px

    &:last-child
      margin-right: 0

    &_active
      background: $white
      border-color: $white

      .tour-form-future__description
        color: $gray50

      .tour-form-future__number
        color: #C3D2DE

        .tour-form-future__number-digit
          text-shadow: -5px -2px 0 rgba(195, 210, 223, 0.3)

        .tour-form-future__number-point
          text-shadow: 3px -2px 0 rgba(195, 210, 223, 0.3)


  .tour-form-future__number
    flex-shrink: 0
    margin-right: 12px
    font-size: 42px
    line-height: 51px
    font-weight: 800

  .tour-form-future__number-digit
    display: inline-block
    text-shadow: -5px -2px 0 rgba(255, 255, 255, 0.3)

  .tour-form-future__number-point
    display: inline-block
    margin-left: -9px
    text-shadow: 3px -2px 0 rgba(255, 255, 255, 0.3)

  .tour-form-future__description
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: $white

  .tour-form-inputs
    display: flex
    align-items: center
    position: relative
    margin-top: 61px

  .tour-form__group
    margin-top: 0

  .tour-form__submit-wrapper
    margin-top: 0

  .tour-form-agreement
    position: absolute
    left: 0
    bottom: -28px
    font-size: 13px
    line-height: 15px