@import '../mixins/mixins'
@import '../variables/variables'
@import '../functions/functions'
@import "../search-form/search-form"
@import "../search-results/search-results"
@import "../search-no-results/search-no-results"

.search__svg1, .search__svg2, .search__svg3
  display: none

+mq(wide-screen)

  .search
    overflow: hidden

  .search__container
    position: relative

  .search__svg1, .search__svg2, .search__svg3
    display: block
    position: absolute

  .search__svg1
    right: 69px
    top: 260px

    svg
      height: 220px
      width: 220px

  .search__svg2
    left: 130px
    top: 775px

    svg
      height: 126px
      width: 126px

  .search__svg3
    left: 50px
    top: 1400px

    svg
      height: 175px
      width: 175px