<div class="project-layout-rooms-slide-container room-slide swiper-slide"
     data-value="room-{{room}}">
    <div class="project-layout-rooms-slide"
        {{# strMainId }} id="{{ . }}"{{/ strMainId }}>
        <div class="room-slide-img-container">
            <div class="swiper-container room-floors-container">
                <div class="swiper-wrapper room-floors-wrapper">
                    {{#images.values}}
                        <div class="room-floors-slide swiper-slide">
                            <a href="{{realSrc}}"
                               data-node="{{strMainId}}"
                               data-index="{{id}}"
                               class="room-slide__img-link">
                                <img class="room-slide__img b-lazy animate"
                                     src=data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7
                                     data-src="{{src}}"
                                     alt="{{alt}}">
                            </a>
                        </div>
                    {{/images.values}}
                </div>
            </div>
            <button class="swiper-navigation-arrow room-floors-navigation__prev">
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.29525 6.81863C0.29525 6.57424 0.388563 6.32988 0.574799 6.14355L6.43819 0.280226C6.81117 -0.0927579 7.4159 -0.0927579 7.78873 0.280226C8.16157 0.65306 8.16157 1.25767 7.78873 1.63068L2.60048 6.81863L7.78855 12.0066C8.16139 12.3796 8.16139 12.9841 7.78855 13.3569C7.41572 13.7301 6.81099 13.7301 6.438 13.3569L0.574618 7.49371C0.388352 7.30729 0.29525 7.06293 0.29525 6.81863Z"
                          fill="#342733"/>
                </svg>
            </button>
            <button class="swiper-navigation-arrow room-floors-navigation__next">
                <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.70475 7.18186C8.70475 7.42625 8.61144 7.67061 8.4252 7.85693L2.56181 13.7203C2.18883 14.0932 1.5841 14.0932 1.21127 13.7203C0.838432 13.3474 0.838432 12.7428 1.21127 12.3698L6.39952 7.18186L1.21145 1.99388C0.838614 1.62089 0.838614 1.01634 1.21145 0.643541C1.58428 0.270375 2.18901 0.270375 2.56199 0.643541L8.42538 6.50678C8.61165 6.69319 8.70475 6.93756 8.70475 7.18186Z"
                          fill="#342733"/>
                </svg>
            </button>
        </div>
        <div class="room-slide-props">
            {{#properties.values}}
                <div class="room-slide-props-item">
                    <div class="room-slide-props-item__label">{{ name }}</div>
                    <div class="room-slide-props-item__value{{#filledText}} room-slide-props-item__value-price_filled{{/filledText}}">{{{implodeValues}}}</div>
                </div>
            {{/properties.values}}
        </div>
        <div class="room-slide-status">{{{ availableText }}}</div>
    </div>
</div>
<script>
    if (!window.roomsFloors) {
        window.roomsFloors = {}
    }

    window.roomsFloors[{{strMainId}}] = {{{imagesAsJson}}};
</script>