.contacts-department
  margin-bottom: 35px

.contacts-department__title
  margin: 0 0 15px
  font-weight: 600
  font-size: 14px
  line-height: 24px
  text-transform: uppercase
  color: rgba(52, 39, 51, 0.9)

.contacts-department-card
  font-size: 13px
  font-weight: 600
  color: $gray40
  padding: 18px 16px 20px 17px
  background: $white
  border: 1px solid rgba(196, 196, 196, 0.5)
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
  border-radius: 6px

.contacts-department-row
  display: flex
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0

.contacts-department-row__icon
  flex-shrink: 0
  margin-right: 10px
  max-width: 16px
  max-height: 16px

.contacts-department-row-value
  line-height: 16px

  &_phone
    color: rgba(52, 39, 51, 0.9)
    font-size: 14px

  b
    font-weight: inherit
    color: $gray40

.contacts-department-row-value__unit
  display: inline-block
  margin-right: 15px
  &:last-child
    margin-right: 0

+mq(tablet)
  .contacts-departments
    display: flex
    flex-wrap: wrap

  .contacts-department__title
    font-size: 16px

  .contacts-department
    width: calc(50% - 8px)
    margin-bottom: 30px

  .contacts-department-card
    padding: 23px 23px 26px

@media only screen and (min-width: $wp2) and (max-width: $wp3 - 1px)
  .contacts-department
    &:nth-child(odd)
      margin-right: 16px

+mq(desktop)
  .contacts-department
    margin-bottom: 50px
    width: calc(33.3333% - 38px)
    margin-right: 56px

    &:nth-child(3n)
      margin-right: 0

  .contacts-department-card
    font-weight: 500
    box-shadow: none
    padding: 23px 23px 26px
    font-size: 14px
    transition: $default-transition

    &:hover
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)

  .contacts-department-row__icon
    margin-right: 16px

  .contacts-department-row-value
    &_phone
      font-size: 16px

  .contacts-department-row-value__unit
    margin-right: 20px

  .contacts-department__title
    font-size: 17px