{{#categories.isNotEmpty}}
    <div class="rubric">
        {{#needShowDropdown}}
            <div class="dropdown rubric__dropdown tablet-hide">
                {{#categories.values}}
                    {{#active}}
                        <a href="#" class="dropdown-current rubric__dropdown-current">
                            <span class="dropdown-current__text">{{text}}</span>
                            <svg width="16" height="11" viewBox="0 0 16 11" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.02334 7.66146L1.9607 1.59882C1.58432 1.22244 0.975255 1.22244 0.598878 1.59882C0.222501 1.97519 0.222501 2.58426 0.598878 2.96064L7.34244 9.7042C7.5301 9.89186 7.77714 9.98635 8.02337 9.98635C8.2696 9.98635 8.51664 9.89186 8.70429 9.7042L15.4479 2.96064L15.4479 2.96062C15.8242 2.58424 15.8242 1.97519 15.4478 1.59882C15.0715 1.22244 14.4624 1.22244 14.086 1.59882L8.02334 7.66146Z"
                                      fill="#342733" stroke="#342733" stroke-width="0.7"/>
                            </svg>
                        </a>
                    {{/active}}
                {{/categories.values}}
                <div class="dropdown-list rubric__dropdown-list">
                    <ul class="dropdown-scroll rubric__dropdown-scroll">
                        {{#categories.values}}
                            <li class="dropdown-list-item rubric__dropdown-list-item dropdown-item {{#active}}dropdown-item_selected{{/active}}"
                                data-value="{{text}}">
                                <a class="dropdown-item__content rubric__dropdown-list-item-link" title="{{title}}"
                                   href="{{href}}">{{text}}</a>
                            </li>
                        {{/categories.values}}
                    </ul>
                </div>
            </div>
        <ul class="rubric__list mobile-hide tablet-show">
            {{#categories.values}}
                <li class="rubric__list-item {{#active}}rubric__list-item_active{{/active}}">
                    <a class="rubric__list-item-link" title="{{title}}" href="{{href}}">{{text}}</a>
                </li>
            {{/categories.values}}
        </ul>
        {{/needShowDropdown}}
    </div>
{{/categories.isNotEmpty}}