.index-first-screen
  display: flex
  margin-top: 78px
  min-height: 562px
  background: $gray10

  .ask-question-button
    padding: 20px 30px

  .swiper-pagination-arrow
    display: none

  .swiper-pagination-container
    bottom: 35px

.index-first-screen-text__title
  font-weight: bold
  font-size: 26px
  line-height: 40px
  margin-bottom: 40px

.index-first-screen-text__subtitle
  font-size: 20px
  line-height: 28px
  opacity: 0.9
  margin-bottom: 88px
  width: 76%

.index-first-screen-slider
  &_disabled
    width: 100%
    .index-first-screen-slide
      padding-bottom: 100px
    .swiper-pagination-container
      display: none

.index-first-screen-slide
  background-color: $gray10
  position: relative
  padding: 53px 0 149px
  z-index: 0

.index-first-screen-slide__background
  +absoluteFluid
  background-repeat: no-repeat
  background-size: cover
  z-index: -1

+mq(tablet, max)
  .index-first-screen-slide__background
    display: none

+mq(tablet)
  .index-first-screen
    .swiper-pagination-container
      bottom: 66px
      justify-content: flex-start

    .swiper-pagination-arrow
      display: block

    .ask-question-button
      width: auto
      padding: 16px 43px
      font-size: 14px

  .index-first-screen-slide
    padding: 122px 0 191px

  .index-first-screen-text__title
    width: 587px
    font-size: 36px
    line-height: 46px
    font-weight: normal
    margin-bottom: 23px

  .index-first-screen-text__subtitle
    font-size: 24px
    line-height: 31px
    width: 408px
    margin-bottom: 64px

+mq(desktop)
  .index-first-screen
    margin-top: 165px

    .ask-question-button
      font-size: 16px
      padding: 19px 46px
      opacity: 0
      transform: translateY(20px)
      transition: opacity 1s ease-in-out 1s, transform 0.6s ease-in-out 0.8s, background-color $default-transition

  .index-first-screen-text__title
    width: 778px
    font-size: 48px
    line-height: 68px
    margin-bottom: 38px
    opacity: 0
    transform: translateY(-20px)
    transition: opacity 1s ease-in-out, transform 0.6s ease-in-out

  .index-first-screen-text__subtitle
    font-size: 22px
    line-height: 29px
    width: 595px
    margin-bottom: 77px
    opacity: 0
    transform: translateY(-40px)
    transition: opacity 1s ease-in-out 0.5s, transform 0.6s ease-in-out 0.4s

  .index-first-screen-slide
    padding: 139px 0 129px

    &_animate
      .index-first-screen-text__title,
      .index-first-screen-text__subtitle,
      .ask-question-button
        opacity: 1
        transform: translateY(0)

+mq(wide-screen)
  .index-first-screen
    .swiper-pagination-container
      bottom: 93px

  .index-first-screen-slide
    padding: 103px 0 186px

  .index-first-screen-text__title
    line-height: 64px
    width: 768px
    margin-bottom: 10px

  .index-first-screen-text__subtitle
    line-height: 31px
    margin-bottom: 50px