<div class="buy-ways-list-item swiper-slide">
    <div class="buy-ways-list-item-wrapper"
        {{# strMainId }} id="{{ . }}"{{/ strMainId }}>
        <div class="buy-ways-list-item-content">
            <div class="buy-ways-list-item__icon">{{{icon.inline}}}</div>
            <div class="buy-ways-list-item__name">{{{name}}}</div>
            <div class="buy-ways-list-item__description">{{{text}}}</div>
        </div>
        {{# link.href }}
            {{# link.text }}
                <a class="buy-ways-list-item__show-more button button_linear-yellow"
                   href="{{ link.href }}"
                    {{# link.targetBlank }} target="_blank"{{/ link.targetBlank }}
                   title="{{ link.title }}">{{{ link.text }}}</a>
            {{/ link.text }}
        {{/ link.href }}
    </div>
    <a class="link-as-card buy-ways-list-item__link-area"
       href="{{ link.href }}"
        {{# link.targetBlank }} target="_blank"{{/ link.targetBlank }}
       title="{{ link.title }}"></a>
</div>
