<div class="index-about-slider swiper-container">
    <div class="index-about-slider-wrapper swiper-wrapper">
        {{#slides}}
            <div class="index-about-slide swiper-slide" {{#strMainId}}id="{{ . }}"{{/strMainId}}>
                <div class="index-about-slide-container">
                    <div class="index-about-slide__picture b-lazy"
                         data-src="{{image.src}}"></div>
                    <div class="index-about-slide-text">
                        {{#cardTitle }}
                            <div class="index-about-slide-text__header">
                                {{{ . }}}
                            </div>
                        {{/cardTitle}}
                        <div class="index-about-slide-text__description">
                            {{{text}}}
                        </div>
                        {{#link.href}}
                            <a href="{{link.href}}"
                               title="{{link.title}}"
                               {{#link.targetBlank}}target="_blank"{{/link.targetBlank}}
                               class="index-about-slide-text__more-link">
                                <span class="tablet-hide desktop-show">{{{link.text}}}</span>
                                {{#link.additionalCssClass}}
                                    <span class="tablet-only">{{{link.additionalCssClass}}}</span>
                                {{/link.additionalCssClass}}
                                {{^link.additionalCssClass}}
                                    <span class="tablet-only">{{{link.text}}}</span>
                                {{/link.additionalCssClass}}
                            </a>
                        {{/link.href}}
                    </div>
                </div>
            </div>
        {{/slides}}
    </div>
    <div class="swiper-pagination-container container">
        <div class="index-about-slider-pagination swiper-pagination"></div>
    </div>
</div>