.index-about-slider
  padding-bottom: 30px

.index-about-slide
  padding: 40px $container-offset-mobile

.index-about-slide-container
  position: relative

.index-about-slide__picture
  width: 100%
  padding-top: 63%
  margin-bottom: 32px
  border-radius: 6px 6px 0 0
  background-repeat: no-repeat
  background-size: cover

.index-about-slide-text__header
  margin-bottom: 25px
  font-weight: bold
  font-size: 18px
  line-height: 16px
  letter-spacing: 0.05em

.index-about-slide-text__description
  font-size: 14px
  line-height: 22px

.index-about-slide-text__more-link
  font-weight: 600
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.05em
  display: inline-block
  margin-top: 30px
  text-decoration: underline

+mq(tablet)
  .index-about-slide__picture
    margin-bottom: 68px

  .index-about-slide
    padding: 30px $container-offset-tablet 40px

  .index-about
    .swiper-pagination-container
      position: absolute
      left: 0
      top: 506px

    .index-about-slider-pagination
      width: 100%
      margin-left: -9px

    .swiper-container
      .swiper-pagination
        justify-content: flex-start
        .swiper-pagination-bullet
          height: 4px
          line-height: 4px
          margin: auto 15px

          &-active
            background: $yellow8

@media only screen and (min-width: $wp2) and (max-width: $wp3 - 1px)
  .index-about-slide
    .index-about-slide-text__more-link
      padding: 16px 32px
      width: 223px
      background: linear-gradient(167.85deg, #FFBF06 0%, #FFB800 100%), $yellow
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05)
      border-radius: 6px
      text-align: center
      text-decoration: none
      color: $white

+mq(desktop)
  .index-about
    .swiper-container
      .swiper-pagination-container
        top: 572px
        padding: 0
      .swiper-pagination
        .swiper-pagination-bullet
          opacity: 1
          height: 30px
          background: none
          display: flex
          align-items: center
          margin-right: 42px !important

          &_active
            background: none

          &:last-child
            margin-right: 0 !important

  .index-about-slider
    padding-bottom: 50px

  .index-about-slide
    padding: 0

  .index-about-slide__picture
    width: 729px
    padding-top: 61%
    margin-bottom: 0

  .index-about-slide-text
    position: absolute
    top: 111px
    left: 472px
    width: 400px
    min-height: 229px
    padding: 21px 26px 20px 23px
    background: $white
    border-radius: 6px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)

  .index-about-slide-text__header
    margin-bottom: 17px

  .index-about-slide-text__description
    line-height: 24px

  .index-about-slide-text__more-link
    margin-top: 19px

+mq(wide-screen)
  .index-about-slider
    padding-bottom: 0

  .index-about-slide
    padding: 30px 0

  .index-about-slide__picture
    height: 450px
    padding-top: 0
    border-radius: 6px

  .index-about
    .swiper-container
      height: 510px

    .index-about-slider-wrapper
      width: 913px

    .swiper-container
      .swiper-pagination-container
        display: block
        top: 140px
        left: 0

        .swiper-pagination
          display: block
          width: 100px
          margin: 0
          .swiper-pagination-bullet
            margin: 20px 0 !important