<div class="footer-container">
    <div class="footer-top">
        <div class="container footer-top-container">
            <div class="footer-top-section footer-top-section_contact">
                <div class="footer__contact">
                    <a class="footer__contact-value desktop-hide"
                       href="tel:84162528017"
                       title="Позвонить 8 (4162) 528-017">8 (4162) 528-017</a>
                    <div class="footer__contact-value mobile-hide desktop-show-block">8 (4162) 528-017</div>
                    <div class="footer__contact-label">Отдел продаж</div>
                </div>
                <a href="#" class="call-button popup-link button button_linear-gray">Заказать звонок</a>
            </div>

            <div class="footer-top-section">
                <div class="footer-top__consultation">
                    <div class="footer-top__consultation-text">Требуется консультация?</div>
                    <a href="#" class="footer-top__consultation-button popup-link button button_linear-gray">Напишите нам</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-content">
            {{>footer-menu}}
            <div class="footer-social">
                <div class="footer__title">Мы в соцсетях</div>
                <div class="social-list">
                    <a class="social-list-item" href="#" title="Facebook">
                        <svg class="social-list-item__link" width="26" height="26" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.11111 0H24.8889C25.714 0 26.5053 0.327777 27.0888 0.911223C27.6722 1.49467 28 2.28599 28 3.11111V24.8889C28 25.714 27.6722 26.5053 27.0888 27.0888C26.5053 27.6722 25.714 28 24.8889 28H3.11111C2.28599 28 1.49467 27.6722 0.911223 27.0888C0.327777 26.5053 0 25.714 0 24.8889V3.11111C0 2.28599 0.327777 1.49467 0.911223 0.911223C1.49467 0.327777 2.28599 0 3.11111 0ZM23.3333 3.11111H19.4444C18.0005 3.11111 16.6157 3.68472 15.5946 4.70575C14.5736 5.72678 14 7.1116 14 8.55556V12.4444H10.8889V17.1111H14V28H18.6667V17.1111H23.3333V12.4444H18.6667V9.33333C18.6667 8.92077 18.8306 8.52511 19.1223 8.23339C19.414 7.94167 19.8097 7.77778 20.2222 7.77778H23.3333V3.11111Z" fill="#7D8C93"/>
                        </svg>
                    </a>
                    <a class="social-list-item" href="#" title="Instagram">
                        <svg class="social-list-item__link" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.56977 0H21.4297C23.9533 0 26 2.04615 26 4.57031V21.4297C26 23.9533 23.9533 26 21.4297 26H4.56977C2.04615 26 0 23.9533 0 21.4297V4.57031C0 2.04615 2.04615 0 4.56977 0ZM16.78 4H9.22C7.83557 4 6.50784 4.54996 5.5289 5.5289C4.54996 6.50784 4 7.83557 4 9.22V16.78C4 19.66 6.34 22 9.22 22H16.78C18.1644 22 19.4922 21.45 20.4711 20.4711C21.45 19.4922 22 18.1644 22 16.78V9.22C22 6.34 19.66 4 16.78 4ZM6.74897 6.74897C7.35659 6.14136 8.1807 5.8 9.04 5.8H16.96C18.751 5.8 20.2 7.249 20.2 9.04V16.96C20.2 17.8193 19.8586 18.6434 19.251 19.251C18.6434 19.8586 17.8193 20.2 16.96 20.2H9.04C7.249 20.2 5.8 18.751 5.8 16.96V9.04C5.8 8.1807 6.14136 7.35659 6.74897 6.74897ZM18.5205 7.4795C18.3095 7.26853 18.0234 7.15 17.725 7.15C17.4266 7.15 17.1405 7.26853 16.9295 7.4795C16.7185 7.69048 16.6 7.97663 16.6 8.275C16.6 8.57337 16.7185 8.85952 16.9295 9.0705C17.1405 9.28147 17.4266 9.4 17.725 9.4C18.0234 9.4 18.3095 9.28147 18.5205 9.0705C18.7315 8.85952 18.85 8.57337 18.85 8.275C18.85 7.97663 18.7315 7.69048 18.5205 7.4795ZM16.182 9.81802C15.3381 8.97411 14.1935 8.5 13 8.5C11.8065 8.5 10.6619 8.97411 9.81802 9.81802C8.97411 10.6619 8.5 11.8065 8.5 13C8.5 14.1935 8.97411 15.3381 9.81802 16.182C10.6619 17.0259 11.8065 17.5 13 17.5C14.1935 17.5 15.3381 17.0259 16.182 16.182C17.0259 15.3381 17.5 14.1935 17.5 13C17.5 11.8065 17.0259 10.6619 16.182 9.81802ZM11.0908 11.0908C11.5972 10.5845 12.2839 10.3 13 10.3C13.7161 10.3 14.4028 10.5845 14.9092 11.0908C15.4155 11.5972 15.7 12.2839 15.7 13C15.7 13.7161 15.4155 14.4028 14.9092 14.9092C14.4028 15.4155 13.7161 15.7 13 15.7C12.2839 15.7 11.5972 15.4155 11.0908 14.9092C10.5845 14.4028 10.3 13.7161 10.3 13C10.3 12.2839 10.5845 11.5972 11.0908 11.0908Z" fill="#7D8C93"/>
                        </svg>
                    </a>
                    <a class="social-list-item" href="#" title="VK">
                        <svg class="social-list-item__link" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4013 14.3293C13.9845 14.0866 13.4052 14.0866 12.9345 14.0866H11.3888V17.2716H12.8074C13.3326 17.2716 14.0024 17.3092 14.4552 16.9913C14.8709 16.7115 15.1063 16.1623 15.1063 15.6393C15.1063 15.1534 14.817 14.5722 14.4013 14.3293ZM13.8182 11.6093C14.1621 11.3474 14.3425 10.8805 14.3425 10.4504C14.3425 9.98319 14.1256 9.53469 13.7277 9.29202C13.3115 9.04935 12.5507 9.10542 12.0621 9.10542H11.3888V11.9085H12.2796C12.7863 11.9083 13.384 11.9456 13.8182 11.6093ZM21.4297 0H4.56977C2.04615 0 0 2.04615 0 4.57031V21.4297C0 23.9533 2.04615 26 4.56977 26H21.4297C23.9533 26 26 23.9533 26 21.4297V4.57031C26 2.04615 23.9533 0 21.4297 0ZM13.7053 19.6449H8.39367V6.82527H14.1971C15.8781 6.82527 17.4292 7.89533 17.4292 9.78277C17.4292 11.2401 16.6156 12.2381 15.5778 12.5483V12.5859C17.1167 12.9039 18.2157 13.7396 18.2157 15.756C18.2157 17.622 16.945 19.6449 13.7053 19.6449Z" fill="#7D8C93"/>
                        </svg>
                    </a>
                    <a class="social-list-item" href="#" title="YouTube">
                        <svg class="social-list-item__link" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect width="26" height="26" rx="4" fill="#7D8C93"/>
                                <g clip-path="url(#clip0)">
                                    <path d="M17.245 12.564L9.245 8.06402C9.09 7.97702 8.901 7.97902 8.748 8.06802C8.594 8.15802 8.5 8.32202 8.5 8.50002V17.5C8.5 17.678 8.594 17.842 8.748 17.932C8.826 17.977 8.913 18 9 18C9.084 18 9.169 17.979 9.245 17.936L17.245 13.436C17.402 13.347 17.5 13.181 17.5 13C17.5 12.819 17.402 12.653 17.245 12.564Z" fill="white"/>
                                </g>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect x="8" y="8" width="10" height="10" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyrights">
            <div class="footer-copyrights-group">
                <div class="footer-copyrights__company">ОАО «Благовещенскстрой», 2020</div>
                <div class="footer-copyrights__text">Информация, предоставленная на сайте, не является публичной офертой. Сведения носят исключительно информационный характер.</div>
            </div>
            <div class="footer-dev">
                <!--noindex-->
                Разработано <a href="https://z-labs.ru/?source=blagstroy"
                   class="link-preset footer-dev__link" title="Z-Labs"
                               rel="nofollow" target="_blank"><strong>Студией Z-Labs</strong></a>
                <!--/noindex-->
            </div>
        </div>
    </div>
    <div class="footer__rectangles">
        {{>background-rectangles}}
    </div>
</div>