@import '../social-list/social-list'
@import '../footer-menu/footer-menu'

.footer
  background: #F0F4F5

.footer-top
  padding-top: 30px

.footer-container
  padding: 0 0 100px
  position: relative
  z-index: 0

.footer__rectangles
  overflow: hidden
  position: absolute
  bottom: 165px
  right: 0
  z-index: -1

  svg
    width: 228px
    position: relative
    right: -33px

  path
    fill: rgba(255, 255, 255, 0.5)

.footer__contact-value
  font-weight: 600
  font-size: 24px
  line-height: 29px
  color: $gray40
  margin-bottom: 9px

.footer__contact-label
  font-size: 12px
  line-height: 14px
  text-transform: uppercase
  color: $gray30

.footer__contact
  letter-spacing: 0.1em

.footer-top
  .button
    font-size: 16px
    line-height: 19px
    font-weight: 500

.footer-dev
  padding: 9px 11px
  text-align: center
  color: $gray30
  font-weight: normal
  font-size: 12px
  line-height: 20px
  letter-spacing: 0.03em
  border: 1px solid $gray20
  border-radius: 6px
  min-height: auto

  strong
    font-weight: 600

.footer-copyrights
  color: #636F75
  font-size: 12px
  line-height: 20px

.footer-copyrights__company
  font-size: 12px
  line-height: 14px
  letter-spacing: 0.03em

.footer__title
  font-weight: 600
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.05em
  text-transform: uppercase
  color: $gray40
  margin-bottom: 23px

+mq(tablet, max)
  .footer
    .social-list
      margin: 40px 0 30px

  .footer-menu
    display: none

  .footer__contact
    margin-bottom: 30px
    text-align: center

  .footer-top
    .button
      width: 100%
      background: $white

  .footer-top__consultation-button
    margin-top: 30px

  .footer-copyrights
    text-align: center
    display: flex
    align-items: center
    flex-direction: column

  .footer-copyrights__text
    margin-bottom: 30px

  .footer-copyrights__company
    order: 1
    margin-bottom: 30px

  .footer-dev
    order: 2

+mq(tablet)
  .footer-container
    padding-bottom: 30px

  .footer__rectangles
    display: none

  .footer-top
    border-top: 1px solid #EAEAEA
    border-bottom: 1px solid #EAEAEA
    background: $white
    padding: 23px 0

    .button
      width: 224px

  .footer-top-container
    display: flex

  .footer-top-section
    display: flex

    &_contact
      margin-right: 32px

  .footer__contact
    margin-right: 69px

  .footer__contact-value
    letter-spacing: 0.03em
    font-size: 20px
    line-height: 24px
    margin-bottom: 6px

  .footer__contact-label
    margin-top: 6px

  .footer-content
    border-bottom: 1px solid $gray15
    padding: 50px 0 35px
    display: flex

  .footer-menu
    margin-right: 86px

  .footer-social
    flex-shrink: 0

  .footer-copyrights
    padding-top: 30px
    display: flex
    align-items: flex-end
    justify-content: space-between

  .footer-copyrights__company
    font-size: 14px
    line-height: 20px
    margin-bottom: 10px

  .footer-dev
    margin-left: 60px
    flex-shrink: 0

+mq(desktop, max)
  .footer-social
    .footer__title
      display: none

  .footer-top__consultation-text
    display: none

+mq(desktop)
  .footer-container
    padding-bottom: 40px

  .footer-top
    background: #F8FAFA
    border-top: none
    .footer-top__consultation-button
      width: 280px

  .footer-top-container
    justify-content: space-between

  .footer-top__consultation
    display: flex
    align-items: center
    border-left: 1px solid $gray20
    padding-left: 54px

  .footer-top__consultation
    color: #636F75
    font-size: 16px
    line-height: 25px
    letter-spacing: 0.03em

  .footer-top__consultation-button
    flex-shrink: 0
    width: 280px
    margin-left: 74px

  .footer__contact
    letter-spacing: 0.05em
    font-size: 14px
    line-height: 16px

  .footer-top-section_contact
    margin-right: 82px

  .footer__contact-value
    font-weight: 500
    font-size: 28px
    line-height: 33px
    letter-spacing: 0.05em
    margin-bottom: 4px

  .footer-copyrights
    padding-top: 40px

  .footer-menu
    margin-right: 117px

+mq(wide-screen)
  .footer__contact
    margin-right: 66px

  .footer-top-section_contact
    margin-right: 82px

  .footer-top__consultation
    padding-left: 88px

  .footer-top__consultation-button
    margin-left: 42px

  .footer-copyrights
    padding-top: 55px

  .footer-container
    padding-bottom: 46px