<div class="project-detail-about-side">
    {{^apartments.isNotEmpty}}
        <div class="project-detail-about-side__sticky-container">
            <div class="project-detail-about-side__sticky-content">
                {{>characteristics-table_main}}
                {{>project-detail-prices}}
                {{^isArchive}}
                    <a href="#index-tour-form-modal"
                       class="project-detail-about__tour-btn popup-link button button_filled-yellow feedback-form-link">
                        Связаться с менеджером
                    </a>
                {{/isArchive}}
            </div>
        </div>
    {{/apartments.isNotEmpty}}

    {{#isArchive}}
        <div class="project-detail-about-side__sticky-container">
            <div class="project-detail-about-side__sticky-content">
                {{>characteristics-table_main}}
                {{>project-detail-prices}}
                {{^isArchive}}
                    <a href="#index-tour-form-modal"
                       class="project-detail-about__tour-btn popup-link button button_filled-yellow feedback-form-link">
                        Связаться с менеджером
                    </a>
                {{/isArchive}}
            </div>
        </div>
    {{/isArchive}}

    {{#apartments.isNotEmpty}}{{^isArchive}}
        {{>characteristics-table_main}}
        <div class="project-detail-about-side__sticky-container">
            <div class="project-detail-about-side__sticky-content">
                {{>project-detail-prices}}
                {{^isArchive}}
                    <a href="#index-tour-form-modal"
                       class="project-detail-about__tour-btn popup-link button button_filled-yellow feedback-form-link">
                        Связаться с менеджером
                    </a>
                {{/isArchive}}
            </div>
        </div>
    {{/isArchive}}{{/apartments.isNotEmpty}}
</div>
