<svg width="38" height="22" viewBox="0 0 38 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.192155 11.4628L10.0136 21.2842C10.2694 21.54 10.6837 21.54 10.9394 21.2842C11.1952 21.0284 11.1952 20.6141 10.9394 20.3584L2.23568 11.6546L37.3218 11.6546C37.6837 11.6546 37.9766 11.3618 37.9766 10.9998C37.9766 10.6379 37.6837 10.3451 37.3218 10.3451L2.23568 10.3451L10.9394 1.64138C11.1952 1.38559 11.1952 0.971252 10.9394 0.715526C10.8116 0.587663 10.644 0.5237 10.4765 0.5237C10.309 0.5237 10.1414 0.587663 10.0135 0.715526L0.19209 10.537C-0.0636358 10.7927 -0.0636321 11.207 0.192155 11.4628Z" fill="#342733"/>
</svg>