<button class="swiper-button-next slider-arrow">
    <svg width="8" height="14" viewBox="0 0 8 14" fill="none">
        <path d="M1 0.999999L7 7L1 13" stroke="#787885" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>