.card
  position: relative
  display: block
  border-radius: 6px
  min-height: 398px
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08)
  transition: $default-transition
  overflow: hidden
  z-index: 0

.card-sticker
  position: absolute
  right: 0
  top: 0
  border-radius: 0 0 0 30px
  z-index: 1
  letter-spacing: 0.05em
  line-height: 16px
  font-weight: bold
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 14px 14px 15px 16px

  &_yellow
    background: #FFB800
    color: $white

  &_red
    background: $red
    color: $white

.card-sticker__text
  font-size: 12px
  margin-bottom: 4px

.card-sticker__value
  font-size: 16px

.card-info
  padding: 20px 25px
  letter-spacing: 0.03em
  font-weight: 500

+mq(tablet)
  .card-info
    padding: 23px 24px

+mq(desktop)
  .card-info
    padding: 23px 26px 24px 24px