<div class="blog-item blog-item_only-text">
    <div class="blog-item__content">
        <div class="blog-item__container">
            <div class="blog-item__date">
                28 апреля 2020
            </div>
            <div class="blog-item__title">
                Помощь в оформление ипотеки для многодетных семей
            </div>
            <div class="blog-item__text">
                <p>
                    С 31 июля вступают в силу изменения в закон о государственной регистрации недвижимости.
                    внесенные в федеральный закон №218-ФЗ «О государствен юля 2019 года вступают в силу.
                </p>
                <p>
                    Согласно нововведению, с 31 июля 2019 года
                    не требуется нотариальное удостоверение сделок при отчуждении или ипотеки всеми участниками долевой
                    собственности своих долей по одной сделке.
                </p>
            </div>
        </div>
        <div class="blog-item__info">
            <div class="blog-item__tag">
                #Новости
            </div>
            <div class="blog-item__views">
                <svg width="21" height="14" viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.2667 4.20007C8.72199 4.20007 7.46667 5.45539 7.46667 7.00007C7.46667 8.54475 8.72199 9.80006 10.2667 9.80006C11.8113 9.80006 13.0667 8.54475 13.0667 7.00007C13.0667 5.45539 11.8113 4.20007 10.2667 4.20007Z"
                          fill="#342733" fill-opacity="0.4"/>
                    <path d="M10.2667 0C5.6 0 1.61468 2.90264 0 7C1.61468 11.0973 5.6 14 10.2667 14C14.938 14 18.9187 11.0973 20.5334 7C18.9187 2.90264 14.938 0 10.2667 0ZM10.2667 11.6666C7.69068 11.6666 5.6 9.57596 5.6 6.99996C5.6 4.42396 7.69068 2.33332 10.2667 2.33332C12.8427 2.33332 14.9334 4.424 14.9334 7C14.9334 9.576 12.8427 11.6666 10.2667 11.6666Z"
                          fill="#342733" fill-opacity="0.4"/>
                </svg>
                <span>262</span>
            </div>
        </div>
    </div>
    <a href="#" class="link-as-card"></a>
</div>