{{#text}}
<section class="index-text-section">
    <div class="background-pattern index__section-text-pattern">
    {{>background-circle-dashed}}
    </div>
    <div class="container">
        <div class="index-text">
            <div class="collapsed-block">
                <div class="collapsed-block-container">
                    <div class="collapsed-block-wrapper">
                        {{{ . }}}
                    </div>
                </div>
                <button class="collapsed-block-trigger">Читать полностью</button>
            </div>
        </div>
    </div>
</section>
{{/text}}